name: Build and test
on:
  push:
    branches:
      - fhf-*

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/piefed
  SERVICE_NAME: piefed

permissions:
  contents: read

jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          show-progress: "false"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install the code linting and formatting tool Ruff
        run: pipx install ruff

      - name: Lint code with Ruff
        run: ruff check --output-format=github --target-version=py39

      - name: Check code formatting with Ruff
        run: ruff format --diff --target-version=py39

  test:
    name: Run tests
    runs-on: ubuntu-latest
    permissions:
      contents: read

    services:
      database:
        image: postgres:17-alpine
        env:
          POSTGRES_USER: piefed
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      redis:
        image: redis:6.2
        ports:
          - 6379:6379

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          show-progress: "false"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: pip

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Initialize database
        env:
          FLASK_APP: pyfedi.py
          SERVER_NAME: localhost
          DATABASE_URL: postgresql+psycopg2://piefed:password@127.0.0.1/piefed
          PIEFED_DB_INIT_ADMIN_USERNAME: rimu  # this is hardcoded in tests
          PIEFED_DB_INIT_ADMIN_EMAIL: admin@localhost
          PIEFED_DB_INIT_ADMIN_PASSWORD: admin
        run: |
          set -x
          flask db upgrade
          flask init-db

      - name: Test with pytest
        env:
          FLASK_APP: pyfedi.py
          SERVER_NAME: localhost
          DATABASE_URL: postgresql+psycopg2://piefed:password@127.0.0.1/piefed
          HTTP_PROTOCOL: http
          PY_COLORS: "1"
        run: |
          pytest

  build-and-push-image:
    name: Build and push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          show-progress: "false"

      - name: Setup Git metadata
        id: git-meta
        run: |
          echo "git-version=$(git describe --tags)" >> "$GITHUB_OUTPUT"
          # injects version into app
          sed -E -i "s|^VERSION = '[^']*'\$|VERSION = '$(git describe --tags)'|" app/constants.py

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ steps.git-meta.outputs.git-version }}
            type=sha,format=long

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          push: true
          build-args: |
            DD_VERSION=${{ steps.git-meta.outputs.git-version }}
            DD_GIT_REPOSITORY_URL=${{ github.server_url }}/${{ github.repository }}
            DD_GIT_COMMIT_SHA=${{ github.sha }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: |
            ${{ steps.meta.outputs.labels }}
            com.datadoghq.tags.service=${{ env.SERVICE_NAME }}
            com.datadoghq.tags.version=${{ steps.git-meta.outputs.git-version }}
          annotations: ${{ steps.meta.outputs.annotations }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
