name: Build and test
on:
  push:
    branches:
      - fhf-*

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/piefed
  SERVICE_NAME: piefed

permissions:
  contents: read

jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-latest
    permissions:
      contents: read

    if: false  # upstream has no linting or formatting so this always fails

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
          show-progress: false
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install the code linting and formatting tool Ruff
        run: pipx install ruff

      - name: Lint code with Ruff
        run: ruff check --output-format=github --target-version=py39

      - name: Check code formatting with Ruff
        run: ruff format --diff --target-version=py39
        continue-on-error: true # Piefed does not have a consistent code style

  test:
    name: Run tests
    runs-on: ubuntu-latest
    permissions:
      contents: read

    services:
      database:
        image: postgres:17-alpine
        env:
          POSTGRES_USER: piefed
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      redis:
        image: redis:6.2
        ports:
          - 6379:6379

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
          show-progress: false
          persist-credentials: false

      - name: Set up Python and dependencies
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: pip
          pip-install: -r requirements.txt pytest

      - name: Initialize database
        env:
          FLASK_APP: pyfedi.py
          SERVER_NAME: localhost
          DATABASE_URL: postgresql+psycopg2://piefed:password@127.0.0.1/piefed
        run: |
          set -x
          flask db upgrade

      - name: Test with pytest
        env:
          FLASK_APP: pyfedi.py
          SERVER_NAME: localhost
          DATABASE_URL: postgresql+psycopg2://piefed:password@127.0.0.1/piefed
          HTTP_PROTOCOL: http
          PY_COLORS: "1"
        run: |
          pytest -rxXs --xfail-tb

  build-and-push-image:
    name: Build and push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive
          show-progress: false
          persist-credentials: false

      - name: Setup Git metadata
        id: git-meta
        run: |
          piefed_version="$(git describe --tags | sed 's|^v||')"
          echo "git-version=$piefed_version" >> "$GITHUB_OUTPUT"
          # injects version into app
          sed -E -i "s|^VERSION = '[^']*'\$|VERSION = '$piefed_version'|" app/constants.py

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ steps.git-meta.outputs.git-version }}
            type=sha,format=long

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: |
            ${{ steps.meta.outputs.labels }}
            com.datadoghq.tags.service=${{ env.SERVICE_NAME }}
            com.datadoghq.tags.version=${{ steps.git-meta.outputs.git-version }}
          annotations: ${{ steps.meta.outputs.annotations }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
