name: SonarQube Analysis

on:
  push:
    branches:
      - fhf-*
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

permissions: {}

jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
          show-progress: false
          persist-credentials: false
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
